form{
	color: black;
	font-weight: bold;
}
 form{
	border: 1px solid black;
	 padding: 10px 10px 20px 10px;
	 margin-bottom: 10px;
}
.form-header h1{
	text-align: center;
}
body{
	color: black;
}


.row input{
	background: #e6fffa;
	outline-color: white;
}
.row input:nth-child(1){
	background: #e6fffa;
	outline-color: white;
}

.row select{
	 background: #e6fffa;
 }
.row textarea{
	 background: #e6fffa;
 }
table {
	border-collapse: collapse;
}

table, td, th {
	border: 1px solid black;
}
.tesdiq{
	border: 1px solid dodgerblue;
	border-radius: 20px;
	padding: 8px;

}